@import 'variables';

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.submit-btn {
  margin: 0.8rem 0;
}

.text-center {
  text-align: center;
}

.test {
  background-color: $yellow;
  border-radius: 10px;
  padding: 1rem;
}
