<mat-card class="task">
  <mat-card-header>
    <mat-card-title>
      <p class="task__title">
        <a [routerLink]="task.customID">{{ task.title }} {{ task.sequence }}</a>
      </p>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="task__content">
      <p class="task__content_description">{{ task.description }}</p>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <div class="task__footer">
      <p class="task__details">
        <ng-container [ngSwitch]="task.type">
          <mat-icon *ngSwitchCase="'New Feature'" class="new-feature">add_box</mat-icon>
          <mat-icon *ngSwitchCase="'Epic'" class="epic">flash_on</mat-icon>
          <mat-icon *ngSwitchCase="'User Story'" class="user-story">bookmark</mat-icon>
          <mat-icon *ngSwitchCase="'Task'" class="task-icon">check_box</mat-icon>
          <mat-icon *ngSwitchCase="'Bug'" class="bug">bug_report</mat-icon>
        </ng-container>

        <ng-container [ngSwitch]="task.priority">
          <mat-icon *ngSwitchCase="'Trivial'" class="trivial">south</mat-icon>
          <mat-icon *ngSwitchCase="'Blocker'" class="blocker">block</mat-icon>
          <mat-icon *ngSwitchCase="'Critical'" class="critical">warning</mat-icon>
          <mat-icon *ngSwitchCase="'Major'" class="major">double_arrow</mat-icon>
          <mat-icon *ngSwitchCase="'Minor'" class="minor">expand_more</mat-icon>
        </ng-container>
      </p>
      <div mat-card-avatar class="task__footer_avatar">
        {{ task?.assignee[0] | uppercase }}
      </div>
    </div>
  </mat-card-footer>
</mat-card>
