.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.create-task-button, .filter-button {
  max-width: 200px;
  margin: 0 0 1rem 1rem;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
}


.column-title {
  margin: 1rem 0 0;
}

.mat-divider {
  width: 100%;
  margin-bottom: 0.5rem;
}

#mat-badge-content-0 {
  background-color: #4E73DF;
  color: #fff;
}
#mat-badge-content-1 {
  background-color: #FDE83E;
}
#mat-badge-content-2 {
  background-color: #36E4F7;
}
#mat-badge-content-3 {
  background-color: #1BC789;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task-card:last-child {
  border: none;
}

.task-card.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}