<div class="container">
  <div class="buttons">
    <button
      mat-raised-button
      color="primary"
      class="create-task-button"
      (click)="openDialog()"
    >
      <mat-icon>add_task</mat-icon>
      Create task
    </button>

    <button
      mat-raised-button
      color="accent"
      class="filter-button"
      (click)="showCurrentUserTasks()"
      *ngIf="!isFilterEnable"
    >
      <mat-icon>filter_alt</mat-icon>
      My task
    </button>

    <button
      mat-raised-button
      color="accent"
      class="filter-button"
      (click)="showAllTasks()"
      *ngIf="isFilterEnable"
    >
      <mat-icon>list_ail</mat-icon>
      All tasks
    </button>
  </div>

  <div class="content-wrapper">
    <div
      id="todo"
      class="column to-do"
      cdkDropList
      #toDoTasksList="cdkDropList"
      [cdkDropListData]="toDoTasks"
      [cdkDropListConnectedTo]="[
        progressTasksList,
        reviewTasksList,
        doneTasksList
      ]"
      (cdkDropListDropped)="drop($event)"
    >
      <h2
        class="column-title"
        [matBadge]="toDoTasks?.length"
        matBadgeColor="accent"
      >
        To Do
      </h2>
      <mat-divider></mat-divider>
      <div class="task-card" *ngFor="let task of toDoTasks" cdkDrag>
        <app-task-card [task]="task"></app-task-card>
      </div>
    </div>
    <div
      id="in-progress"
      class="column in-progress"
      cdkDropList
      #progressTasksList="cdkDropList"
      [cdkDropListData]="progressTasks"
      [cdkDropListConnectedTo]="[toDoTasksList, reviewTasksList, doneTasksList]"
      (cdkDropListDropped)="drop($event)"
    >
      <h2 class="column-title" [matBadge]="progressTasks?.length">
        In Progress
      </h2>
      <mat-divider></mat-divider>
      <div class="task-card" *ngFor="let task of progressTasks" cdkDrag>
        <app-task-card [task]="task"></app-task-card>
      </div>
    </div>
    <div
      id="in-review"
      class="column in-review"
      cdkDropList
      #reviewTasksList="cdkDropList"
      [cdkDropListData]="reviewTasks"
      [cdkDropListConnectedTo]="[
        toDoTasksList,
        progressTasksList,
        doneTasksList
      ]"
      (cdkDropListDropped)="drop($event)"
    >
      <h2 class="column-title" [matBadge]="reviewTasks?.length">In Review</h2>
      <mat-divider></mat-divider>
      <div class="task-card" *ngFor="let task of reviewTasks" cdkDrag>
        <app-task-card [task]="task"></app-task-card>
      </div>
    </div>
    <div
      id="done"
      class="column done"
      cdkDropList
      #doneTasksList="cdkDropList"
      [cdkDropListData]="doneTasks"
      [cdkDropListConnectedTo]="[
        toDoTasksList,
        progressTasksList,
        reviewTasksList
      ]"
      (cdkDropListDropped)="drop($event)"
    >
      <h2 class="column-title" [matBadge]="doneTasks?.length">Done</h2>
      <mat-divider></mat-divider>
      <div class="task-card" *ngFor="let task of doneTasks" cdkDrag>
        <app-task-card [task]="task"></app-task-card>
      </div>
    </div>
  </div>
</div>
